<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
  @keyframes load {
    0% {
      transform: rotate(0deg) scale(1);
      border-radius: 40%;
    }

    25% {
      transform: rotate(360deg) scale(1.6);
      background-color: limegreen;
      border-radius: 10%;
    }

    50% {
      transform: rotate(720deg) scale(1);
      border-radius: 40%;
      background-color: dodgerblue;
    }

    75% {
      transform: rotate(1080deg) scale(1.6);
      background-color: darkorange;
      border-radius: 10%;
    }

    100% {
      transform: rotate(1440deg) scale(1);
      border-radius: 40%;
    }
  }

  html {
    font-size: 16px;
  }

  body {
    margin: 0;
    font-family: sans-serif;
  }

  label {
    font-weight: bold;
    font-size: 0.9em;
    margin-bottom: 0.5em;
  }

  select {
    width: 100%;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    font-size: 1em;
  }

  #mapid {
    height: 100vh
  }

  #mapid .metrics:after {
    content: "";
    display: block;
    clear: both;
  }

  #mapid .metrics>div {
    float: left;
    text-align: center;
    width: 33%;
    box-sizing: border-box;
    padding: 0.25em;
  }

  #mapid .metrics>div>div {
    font-size: 1.2em;
    position: relative;
    display: block;
    padding-left: 8px;
  }

  #mapid .metrics>div>div>span,
  #mapid .metrics>div>div:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 4px;
    font-size: 1.2em;
    background-color: #ddd;
    z-index: 1;
    border-radius: 4px;
    box-sizing: border-box;
  }

  #mapid .metrics>div>div:after {
    height: 100%;
  }

  #mapid .metrics>div>div>span {
    background: black;
    z-index: 2;
  }

  #mapid .leaflet-popup-content {
    width: 100vw;
    max-width: 16em;
  }

  #mapid .leaflet-popup-content:after {
    content: "";
    display: block;
    clear: both;
  }

  #mapid .leaflet-popup-content p {
    margin: 0.25em 0;
    float: left;
    width: 50%;
  }

  #app {
    position: fixed;
    z-index: 5000;
    bottom: 2em;
    left: 50%;
    background-color: rgb(255, 255, 255);
    color: rgb(32, 32, 32);
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.6s;
    transform: translateX(-50%) translateY(4em) scale(0.6);
    text-align: center;
    width: 100%;
    max-width: 36em;
    border-radius: 0.5em;
    padding: 1em 2em;
    box-sizing: border-box;
    perspective: 1000px;
    font-size: 1em;
    opacity: 0.8;
    box-shadow: 0 0.5em 0.5em 0em rgba(32, 32, 32, 0.2);
  }

  @media screen and (max-width: 640px) {
    #app {
      font-size: 0.75em;
      bottom: 0;
      border-radius: 0;
      background-color: rgba(255, 255, 255, 0.8);
      transform: translateX(-50%);
      opacity: 1;
    }
  }

  #app:hover {
    transition: 0.3s ease;
    transform: translateX(-50%) translateY(0) scale(1);
    opacity: 1;
    box-shadow: 0 2em 1em -1em rgba(32, 32, 32, 0.2);
  }

  #app>span {
    display: inline-block;
    white-space: nowrap;
    text-align: left;
    padding: 1em;
    margin-left: -0.25em;
    width: 50%;
    box-sizing: border-box;
  }

  #app>span>label {
    display: block;
  }

  .loader {
    top: -2em;
    left: 50%;
    margin-left: -0.5em;
    font-size: 2em;
    position: absolute;
    animation: load 5.6s infinite;
    display: block;
    background-color: rgb(32, 32, 32);
    height: 1em;
    width: 1em;
    border-radius: 0;
  }
</style>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- leaflet -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin="" />
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
  crossorigin=""></script>
<!-- clusters -->
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" crossorigin="" />
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css"
  crossorigin="" />
<script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js" crossorigin=""></script>

<!-- axios -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</blockquote>

<body>
  <div id="mapid"></div>
  <div id="app">
    <div class="loader" v-if="loading.markers || loading.sections"></div>
    <span>
      <label>user_role</label>
      <select v-bind:disabled="loading.markers == true" v-model="user_role">
        <option value="">all</option>
        <option value="pharmacy">pharmacy</option>
        <option value="patient">patient</option>
        <option value="operator">operator</option>
      </select>
    </span>
    <span>
      <label>status</label>
      <select v-bind:disabled="loading.markers == true" v-model="status">
        <option value="">all</option>
        <option value="legit">legit</option>
        <option value="warning">warning</option>
        <option value="unlegit">unlegit</option>
      </select>
    </span>
    <span>
      <label>company_name</label>
      <select v-bind:disabled="loading.markers == true" v-model="company_name">
        <option value="">all</option>
        <option value="upsa">upsa</option>
        <option value="biogaran">biogaran</option>
        <option value="meditect">meditect</option>
      </select>
    </span>
    <span>
      <label>product_name</label>
      <select v-bind:disabled="loading.markers == true" v-model="product_name">
        <option value="">all</option>
        <option value="efferalgan">efferalgan</option>
        <option value="doliprane">doliprane</option>
        <option value="vitamine">vitamine</option>
      </select>
    </span>
    <span>
      <label>metric</label>
      <select v-bind:disabled="loading.markers == true" v-model="metric">
        <option value="scans.status">scan status</option>
        <option value="product.name">product name</option>
        <option value="company.name">company name</option>
        <option value="users.role">user role</option>
      </select>
    </span>
  </div>
</body>

<script>

  // LEAFLET

  var markers = [];
  var mymap = L.map('mapid').setView([8.5, -3.5], 6);
  L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
    maxZoom: 18,
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
      '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
      'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    id: 'mapbox/streets-v11',
    tileSize: 512,
    zoomOffset: -1
  })
    .addTo(mymap)

  const markerClusterGroup = L.markerClusterGroup();
  const sectionLayer = L.geoJSON();

  // VUE

  new Vue({
    el: '#app',
    data: {
      loading: {
        markers: false,
        sections: false
      },
      isVisible: {
        markers: false,
        sections: false
      },
      markers: [],
      sections: [],
      metrics: [],
      user_role: "",
      status: "",
      company_name: "",
      product_name: "",
      from: "2005-04-20",
      to: "2015-04-20",
      metric: "scans.status",
      zoom: null,
      boundBox: {}
    },
    beforeMount() {
      this.zoom = mymap.getZoom()
      this.boundBox = mymap.getBounds()

      mymap.addEventListener('zoomend', this.onZoomend)
      mymap.addEventListener('moveend', this.onMoveend)
      mymap.addEventListener('click', this.onClick);

      this.getSections();
      this.getMetrics()
    },
    watch: {
      boundBox() {
        this.getMarkers()
      },
      zoom() {
        this.getSections();
      },
      markers() {
        this.renderCluster()
      },
      sections() {
        this.renderSections()
      },
      params() {
        this.getMarkers()
        this.getMetrics()
      }
    },
    computed: {
      params() {
        return {
          user_role: this.user_role,
          status: this.status,
          company_name: this.company_name,
          product_name: this.product_name,
          from: this.from,
          to: this.to,
          metric: this.metric,
          neLat: this.boundBox._northEast && this.boundBox._northEast.lat,
          neLng: this.boundBox._northEast && this.boundBox._northEast.lng,
          swLat: this.boundBox._southWest && this.boundBox._southWest.lat,
          swLng: this.boundBox._southWest && this.boundBox._southWest.lng
        }
      },
      metricsBySections () {
        console.log('metricsBySections', this.metrics);
        const reduce = this.metrics.reduce((acc, metric) => {
          console.log(metric);
          acc[metric.name] = acc[metric.name] || {}
          acc[metric.name][metric.metricType] = acc[metric.name].metricValue
          return acc
        }, {})
        console.log(reduce);
        return reduce
      }
    },
    methods: {
      onZoomend() {
        this.zoom = mymap.getZoom()
      },
      onMoveend() {
        this.boundBox = mymap.getBounds()
      },
      onClick(e) {
        console.log(e.latlng);
      },
      clearClusters() {
        markerClusterGroup.clearLayers()
        mymap.removeLayer(markerClusterGroup)
        this.isVisible.clusters = false
      },
      renderCluster() {
        if (!this.markers) return
        this.loading.markers = true
        this.clearClusters()
        this.markers.forEach(marker => {
          const m = L.marker(JSON.parse(marker.geojson).coordinates)
          m.bindPopup(`
            <div>
              <p>
                <small>createdAt:</small><br/>
                <b>${Date.parse(marker.created_at)}</b>
              </p>
              <p>
                <small>user_name:</small><br/>
                <b>${marker.user_name}</b>
              </p>
              <p>
                <small>user_role:</small><br/>
                <b>${marker.user_role}</b>
              </p>
              <p>
                <small>status:</small><br/>
                <b>${marker.status}</b>
              </p>
              <p>
                <small>company_name:</small><br/>
                <b>${marker.company_name}</b>
              </p>
              <p>
                <small>product_name:</small><br/>
                <b>${marker.product_name}</b>
              </p>
            </div>
          `)
          markerClusterGroup.addLayer(m);
        })
        mymap.addLayer(markerClusterGroup);
        this.isVisible.clusters = true
        this.loading.markers = false
      },
      clearSections() {
        sectionLayer.closePopup()
        sectionLayer.clearLayers()
        mymap.removeLayer(sectionLayer)
        this.isVisible.sections = false
      },
      renderSections() {
        if (!this.sections) return
        this.clearSections()
        const geojson = {
          type: "Section",
          features: [],
          properties: { sections: this.sections }
        };

        this.sections.forEach(section => {
          const sectionGeo = JSON.parse(section.geojson)
          sectionGeo.coordinates[0].forEach((coord, index) => {
            const coordTmp = [...coord]
            sectionGeo.coordinates[0][index][0] = coordTmp[1]
            sectionGeo.coordinates[0][index][1] = coordTmp[0]
          })
          geojson.features.push({
            ...sectionGeo,
            properties: {
              name: section.name
            }
          })
        })

        sectionLayer.addData(geojson);
        sectionLayer.bindPopup((e) => {
          console.log(e.feature.geometry.properties);
          console.log(this.metricsBySections);
          return `
          <h2>${e.feature.geometry.properties.name}</h2>
          <h3>${this.metrics.reduce((total, m) => (1 * total + 1 * m.sum), 0)} <small>scans</small></h3>
          <small>metric by</small> <b>${this.metric}</b>
          <div class="metrics">
            <div>
              ${
            this.metrics.map(
              m =>
                `<div>
                <span style="
                  height:${
                Math.round(
                  m.sum / this.metrics.reduce(
                    (total, m) => (1 * total + 1 * m.sum),
                    0
                  ) * 100
                )
                }%;
                  background: ${([
                  "indianred",
                  "darkorange",
                  "gold",
                  "limegreen",
                  "dodgerblue",
                ])[Math.min(4, Math.floor((m.sum / this.metrics.reduce((total, m) => (1 * total + 1 * m.sum), 0)) * 5))]}
                  ">
                </span>
                  ${
                Math.round(m.sum / this.metrics.reduce((total, m) => (1 * total + 1 * m.sum), 0) * 10000) / 100
                }%
              </div>
              ${m.value}
              <small>(${m.sum})</small>
            `).join('</div><div>')}
            </div>
          </div>
        `})
        sectionLayer.addTo(mymap)
        // sectionLayer.openPopup()
        this.isVisible.sections = true
        this.loading.sections = false
      },
      getSections() {
        this.loading.sections = true
        axios
          .get('/api.php', { params: { route: "sections", ...this.params } })
          .then(response => {
            this.sections = response.data.sections
          })
          .catch(console.warn)
      },
      getMetrics() {
        this.loading.sections = true
        axios
          .get('/api.php', { params: { route: "metrics", ...this.params } })
          .then(response => {
            this.metrics = response.data.metrics
          })
          .catch(console.warn)
      },
      getMarkers() {
        this.loading.markers = true
        axios.get('/api.php', { params: { route: "scans", ...this.params, } })
          .then(response => {
            this.markers = response.data.scans
          })
          .catch(console.warn)
      }
    }
  })
</script>